@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for textarea */
textarea::-webkit-scrollbar {
  width: 6px;
}
textarea::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 5px;
}
